{% extends "base.html" %}

{% block title %}
    {% if form_type == 'register' %}Register{% else %}Login{% endif %}
{% endblock %}

{% block header_title %}
    {% if form_type == 'register' %}
        Gear Up Bikes - Register
    {% else %}
        Gear Up Bikes - Login
    {% endif %}
{% endblock %}


{% block content %}
<section>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if form_type == 'register' %}
        <h2>Create your account:</h2>
    {% else %}
        <h2>Please log in to continue:</h2>
    {% endif %}

    <form method="POST">
        <div>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        
        <button type="submit">
            {% if form_type == 'register' %}
                Register
            {% else %}
                Login
            {% endif %}
        </button>
    </form>
    
    <div style="margin-top: 20px;">
        {% if form_type == 'register' %}
            <p>
                Already have an account? 
                <a href="{{ url_for('login') }}">Login here</a>
            </p>
        {% else %}
            <p>
                Don't have an account? 
                <a href="{{ url_for('register') }}">Register here</a>
            </p>
        {% endif %}
    </div>

</section>
{% endblock %}